<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
</head>
<body>
<!-- Content -->

<div class="container-xxl">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <div class="authentication-wrapper container-p-y ">
                <div class="authentication-inner">
                    <!-- Register Card -->
                    <div class="card">
                        <div class="card-body">
                           
                            <form class="mb-3" th:action="@{'/register'}" th:object="${usuario}" method="POST">
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label">Email</label>
                                            <input type="email" th:field="*{email}" class="form-control"
                                                   placeholder="Ingrese su email"
                                                   th:errorclass="'form-control alert-danger'" /> <small
                                                class="form-text text-danger"
                                                th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
                                        </div>
                                        <div class="mb-3 form-password-toggle">
                                            <label class="form-label" >Password</label>
                                            <div class="input-group input-group-merge">
                                                <input type="password" th:field="*{password}" class="form-control"
                                                       placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                                       th:errorclass="'form-control alert-danger'" required/>
                                                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                                                <small
                                                        class="form-text text-danger"
                                                        th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Nombre</label>
                                            <input type="text" th:field="*{nombre}" class="form-control"
                                                   placeholder="Ingrese su nombre"
                                                   th:errorclass="'form-control alert-danger'" /> <small
                                                class="form-text text-danger"
                                                th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Apellido</label>
                                            <input type="text" th:field="*{apellido}" class="form-control"
                                                   placeholder="Ingrese su apellido"
                                                   th:errorclass="'form-control alert-danger'" /> <small
                                                class="form-text text-danger"
                                                th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></small>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Dirección</label>
                                            <input type="text" th:field="*{direccion}" class="form-control"
                                                   placeholder="Ingrese su dirección"
                                                   th:errorclass="'form-control alert-danger'" /> <small
                                                class="form-text text-danger"
                                                th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}"></small>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label">Teléfono</label>
                                            <input type="number" th:field="*{telefono}" class="form-control"
                                                   placeholder="Ingrese su telefono"
                                                   th:errorclass="'form-control alert-danger'" /> <small
                                                class="form-text text-danger"
                                                th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></small>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">DNI</label>
                                            <input type="number" th:field="*{dni}" class="form-control"
                                                   placeholder="Ingrese su dni"
                                                   th:errorclass="'form-control alert-danger'" /> <small
                                                class="form-text text-danger"
                                                th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}"></small>
                                        </div>
                                    </div>
                                </div>


                                <button type="submit" class="btn btn-primary d-grid w-100">Registrarse</button>
                            </form>

                            <p class="text-center">
                                <span>Ya tienes una cuenta?</span>
                                <a th:href="'/login'">
                                    <span>Iniciar sesión ahora</span>
                                </a>
                            </p>
                        </div>
                    </div>
                    <!-- Register Card -->
                </div>
            </div>
        </div>

    </div>
</div>


</body>
</html>
