<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/layout}"> <!-- ~{nombre del folder/nombre del archivo html} -->

<head layout:fragment="layout/layout :: head">
<link rel="stylesheet" th:href="@{/assets/css/misEstilos.css}">
<link rel="stylesheet" th:href="@{/assets/select/bootstrap-select.min.css}">
</head>
<th:block layout:fragment="usuario">[[${sesion.nombre}]] [[${sesion.apellido}]]</th:block>
<body>

	<div layout:fragment="page-title">
     </div>

     <div layout:fragment="page-content">
     
     Hernández
     
     
     </div>
     
     



<!--OTRO SCRIPTS PARA PAGINAS-->
<th:block layout:fragment="page-scripts">
	

	
</th:block>
</body>
</html>
